pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Flattern Raw data",
				"description": "Flattern Raw data",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "source-data//yelp_academic_dataset_business.json"
					},
					{
						"name": "Destination",
						"value": "sink-data//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "business_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "import1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Flattern Raw data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "@activity('Flattern Raw data').output.pipelineReturnValue",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseArtifacts1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}